.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 350ms;
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: var(--bg-color);
  margin: 0.4rem 0;
}

.container:hover {
  border-radius: 1rem;
  border-color: var(--bg-color);
  background-color: var(--secondary-color);
}