.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #121418;
  width: 10rem;
  height: 10rem;
  position: absolute;
  z-index: 100;
}