.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav {
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.avatar {
  max-height: 12.5%;
  border-radius: 0.1rem;
  opacity: 0.8;
}

.settings {
  top: 0;
  width: 100%;
  height: 3rem;
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  color: var(--font-colr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
  padding: 0 1rem;
}

.settings:hover {
  filter: brightness(1.1);
}

.channels {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.channel {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  transition: 300ms;
  border-radius: 0.25rem;
}

.channel+.channel {
  margin-top: 0.2rem;
}

#selected {
  background-color: var(--bg-hover);
  filter: brightness(1.3);
}

.channel:hover {
  background-color: var(--bg-hover);
}

.icon {
  height: 21px;
  margin-right: 0.5rem;
}