.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: fit-content;
  box-sizing: border-box;
  padding: 1rem 0.6rem;
  background-color: var(--bg-darker);
  position: relative;
}