.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.container:hover>.link>.image,
#selected {
  border-radius: 0.95rem;
}

.link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 350ms;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 350ms;
}

.selected {
  position: absolute;
  top: 5%;
  height: 90%;
  width: 0.28rem;
  background-color: var(--text-color);
  left: -20%;
  border-radius: 0 50% 50% 0;
}