.container {
  height: 100%;
  min-width: 15rem;
  max-width: 15rem;
  box-sizing: border-box;
}

.filter {
  height: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--bg-darker);
  box-shadow: 0.3rem 0 0.3rem -0.2rem black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: var(--bg-darker);
  padding: 0.4rem;
  width: 100%;
  border: 0;
  border-radius: 0.25rem;
}

.subcontainer {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-darker);
  margin: 0 0.2rem;
  margin-bottom: 0.5rem;
}

.header:hover {
  color: var(--text-color);
}

.title {
  font-size: 12px;
  font-weight: 600;
}

.newDM {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-color);
}

.newDM:hover {
  filter: brightness(1.5);
}

.link {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  margin: 0.15rem 0;
}