.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.container {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--bg-color);
  cursor: auto;
  border-radius: 0.3rem;
  border: 1px solid var(--bg-dark);
  z-index: 10000;
  box-shadow: 0 0 0.5rem var(--bg-dark);
}